<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="jdbc"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://192.168.43.128:3306/test?autoReconnect=true&amp;characterEncoding=utf8&amp;useUnicode=true"/>
                <property name="username" value="root"/>
                <property name="password" value="000000"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/www/course/c09/mapper/CardMapper.xml"/>
        <mapper resource="com/www/course/c09/mapper/UserMapper.xml"/>
    </mappers>
</configuration>