<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.course.c09.mapper.CardMapper">
    <select id="findCodeById" resultType="com.www.course.c09.model.Card">
        select * from card where id = #{id}
    </select>
</mapper>