<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.course.c09.mapper.ResumeMapper">
    <select id="findResumeByUser" resultType="com.www.course.c09.model.Resume">
        select * from resume where userid = #{id}
    </select>
</mapper>